<div class="control-group">
  <label for="title" class="control-label">title</label>
  <div class="controls">
    <%- contentTag('input', site.title, {type:'text', class:'span6', name:'title'}) %>
  </div>
</div>
<div class="control-group">
  <label for="url" class="control-label">url</label>
  <div class="controls">
    <%- contentTag('input', site.url, {type:'text', class:'span6', name:'url'}) %>
  </div>
</div>
