<div class="hero-unit">
  <h2>All Nodes</h2>
  <%- linkTo('Create a new Node', addNodePath, {class: 'btn pull-right'}); %>
</div>

<div id="nodes-list">
<% if (nodes) { %>
<% for (var i = 0, ii = nodes.length; i < ii; i++) { %>
  <div class="row list-item" id="node-<%= nodes[i].id; %>">
    <div class="span8">
      <h3><%- linkTo(nodes[i].title, nodePath(nodes[i].id)); %></h3>
    </div>
    <div class="span4">
      <h3><i class="icon-list-alt"></i><%= nodes[i].id; %></h3>
    </div>
  </div>
<% } %>
<% } %>
</div>
