<div class="control-group">
  <label for="query" class="control-label">query</label>
  <div class="controls">
    <%- contentTag('input', search.query, {type:'text', class:'span6', name:'query'}) %>
  </div>
</div>
